*{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:25px;
}
h2{
    color: rgb(131, 237, 237);
}
li {
    display: inline;
    padding: 10px;
}
li a{
    text-decoration: none;
    color:rgb(245, 239, 239);
    padding: 10px 20px;
    border-radius: 30px;
}
li a:hover{
    color:white;
    background-color: rgb(199, 1, 1);
}
.left{
    position: relative;
    width: 300px;
}
.left input{
    width: 90%;
    padding: 10px 40px 10px 10px; 
    font-size: 16px;
    border: 2px solid #ccc;
    border: none;
    background-color: rgb(137, 135, 135);
    border-radius: 10px;
    box-sizing: border-box;
}
.search{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    background: none;
    border: none;
    color: #f9f5f5;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(11, 183, 240);
}
.search:hover{
    color:white;
    background-color: rgb(199, 1, 1);
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    margin:20px;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 10px;
    padding: 10px 10px;
}
h6{
    text-align: center;
    color:red;
    font-size: 20px;
}
input{
    border: 1px solid rgb(250, 250, 250);
    border-radius: 20px;
    padding:15px;
    margin: 5px;
    color:#ccc;
    font-size: 15px;
}
p{
    color:#f9f5f5;
}
.button1{
    background-color: red;
    width: 80px;
    padding: 10px 10px;
    border-radius: 10px;
    border:none;
}
footer{
    margin-top: auto;
}
.boder-line{
    color: #f9f5f5;
    background-color: red;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
}